/* KEYFRAMES*/

/* menu color change */
@-webkit-keyframes color_change {
  0% {
    color: white; }

  10% {
    color: #FFEC01; }

  20% {
    color: #E63BEB; }

  30% {
    color: #FF4B8A; }

  40% {
    color: #00CBFE; }

  50% {
    color: #00F1B8; }

  60% {
    color: #02C9FD; }

  70% {
    color: #FF7F3E; } }

/* @-moz-keyframes, @-ms-keyframes, @-o-keyframes, @keyframes */
/* CSS */
body {
	background-color: #2e2e2e;
	color: white;
	padding: 5% 10%;
}
/* menu */
#menu {
	ul {
		float: right;
		margin-right: 5%;

		li {
			display: inline-block;
			margin-left: 40px;

			a{
				color: white;

				&:hover {
					animation-name: color_change;
                    -webkit-animation-duration: 5s;
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}

			}
		}
	}
}

/* title */
#title {

	h2 {
	text-transform: uppercase;
	font-family: 'Century Gothic', sans-serif;
	font-weight: bold;
	color: #41bb96;
	font-size: 60px;
	margin: 80px 0px 80px 0px;
	}
}

/* download */
#download {
	text-align: center;
	margin-bottom: 80px;
	p {
	font-size: 18px;
	font-family: 'Gadugi', sans-serif;
	margin-bottom: 40px;
		span {
			opacity: 0.5;
		}
	}
	button {
		background: none;
		border: 2px solid #41bb96;
		border-radius: 10px;
		padding: 10px 40px;
		transition: background-color 1s;
		 &:hover{
		 	background-color: #41bb96;
		 }
		a {
			color: white;
			&:hover {
				text-decoration: none;
			}
			&:focus {
					text-decoration: none;
				}
		}
	}
}

/* overview */
#overview {
	margin-bottom: 40px;
	h2.sub_title {
		font-family: 'Century Gothic', sans-serif;
		font-weight: bold;
		font-size: 40px;
		margin-bottom: 40px;
	}
	p {
		text-align: center;
		font-size: 18px;
		font-family: 'Gadugi', sans-serif;
		span {
			opacity: 0.5;
		}
	}
	.box {
		height: 300px;
		width: 60%;
		margin: 30px auto;
		.left_box {
			background-color: #252525 ;
			width: 50%;
			float: left;
			height: inherit;
			border-radius: 10px 0px 0px 10px;
		
			h2 {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: bold;
				font-family: 'Century Gothic', sans-serif;
				text-align: center;
				line-height: 250px;
				&.html {
					color: #ff5a5a;
				}
				&.css {
					color: #0084ff;
				}
				&.boot {
					color: #bd0fe1;
				}
			}
		}
		.right_box{
			float: right;
			background-color: white;
			width: 50%;
			height: inherit;
			border-radius: 0px 10px 10px 0px;
			text-align: center;
			img {
				width:100px;
				margin: 90px 10px;
			}
		}
	}
}
/* Contact */
#contact {
	h2.sub_title {
		font-family: 'Century Gothic', sans-serif;
		font-weight: bold;
		font-size: 40px;
		margin-bottom: 40px;
	}
	p {
		text-align: center;
		margin-bottom: 40px;
		font-size: 18px;
		font-family: 'Gadugi', sans-serif;
	}
	ul {
		text-align: center;
	li {
		display: inline-block;

		img {
			width: 30px;
			margin-right: 20px;
			}
		}
	}
}
/* Modal */
#modal {
	top: 100px;
	display: none;
	z-index: 99;
	position: absolute;
	margin: 0 auto;
	width: 80%;
	color: #252525;
	p.close {
		float: right;
		opacity: 0.5;
		cursor: pointer;
		&:hover {
			opacity:1;
		}
	}
	.modal_bg {
		background-color: white;
		border-radius: 20px;
		padding: 40px;
		width: 80%;
		height: auto;
		margin: 0 auto;
		a.share {
			color: #41BB96;
			font-weight: bold;
			font-size: 18px;
			font-family: 'Gadugi', sans-serif;
			opacity: 0.5;
			&:hover {
				opacity:1;
				text-decoration: none;
			}
		}
			h2.sub_title {
			font-family: 'Century Gothic', sans-serif;
			font-weight: bold;
			font-size: 40px;
			margin-bottom: 40px;
			width: 50%;
			color: #FF4E3B;
		}
		button {
		margin: 40px 0 20px 0;
		background: none;
		border: 2px solid #41bb96;
		border-radius: 10px;
		padding: 5px 20px;
		background-color:#41bb96;
		a {
			font-weight: normal;
			color: white;
			&:hover {
				text-decoration: none;
			}
			&:focus {
					text-decoration: none;
				}
		}
	}
	}
}
